.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    background: radial-gradient(50% 50% at 50% 50%, #5a4ba5 0%, #29253d 100%);
    text-align: center;
    color: white;

}

.wrapper{
    margin-top: 100px;
    gap: 20px;
}